<div id="svi-proizvodi">
	<div id="cart-list">
		<h1>Your Cart:</h1>

		<div class="cart-item">
			<div class="cart-item-image"
			style="background-image: url('image/pan-cakes-main.png');"></div>
			<div class="cart-item-body">
				<h4>Sushi bowl extra large for three people</h4>
				<p class="cart-price">Price: 3.99$</p>
				<p class="cart-servings">Servings: 3</p>

				<div class="cart-button-settings"><i class="fa fa-cog" aria-hidden="true"></i></div>
				<div class="cart-button-delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
			</div>


			<div class="cart-settings">
				<div class="cart-settings-bacon">
					<p class="cart-settings-title">Amount of Bacon</p>
					<p class="cart-settings-number">3.2</p>
				</div>
			</div>
		</div>


		<div class="cart-item">
			<div class="cart-item-image"
			style="background-image: url('image/pan-cakes-main.png');"></div>
			<div class="cart-item-body">
				<h4>Sushi bowl extra large for three people</h4>
				<p class="cart-price">Price: 3.99$</p>
				<p class="cart-servings">Servings: 3</p>

				<div class="cart-button-settings"><i class="fa fa-cog" aria-hidden="true"></i></div>
				<div class="cart-button-delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
			</div>
		</div>



		<div class="cart-item">
			<div class="cart-item-image"
			style="background-image: url('image/pan-cakes-main.png');"></div>
			<div class="cart-item-body">
				<h4>Sushi bowl extra large for three people</h4>
				<p class="cart-price">Price: 3.99$</p>
				<p class="cart-servings">Servings: 3</p>

				<div class="cart-button-settings"><i class="fa fa-cog" aria-hidden="true"></i></div>
				<div class="cart-button-delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
			</div>
		</div>


		<div class="cart-next-step">
			<p>Total: <span>12,30$</span></p>
			<button>☞</button>
		</div>


	</div>
</div> 