
		<footer class="menu-back-dole">
			<ul class="footer-menu">
				<li id="home"><a href="./">HOME</a></li>
				<li id="kontakt"><a href="./contact">KONTAKT</a></li>
				<li id="impressum"><a href="./impressum">IMPRESSUM</a></li>               
			</ul>
		</footer>

	<div id="checkout-button">
		<img src="image/checkout-140.png" srcset="image/checkout-140.png 140w, image/checkout-70.png 70w" alt="Show Cart" class="unclickable">
	</div>
	<div id="checkout-div">
		<img src="image/close.png" class="close-window unclickable" alt="Close window">
		<div id="cart-list">
			<h1>Your Cart:</h1>
			<table>
				<tr>
					<td>Sushi bowl extra large for three people</td>
					<td>5,90$</td>
					<td><img src="image/remove.png" class="remove-button unclickable" alt="Remove item"></td>
				</tr>
				<tr>
					<td>Sushi bowl extra large for three people</td>
					<td>5,90$</td>
					<td><img src="image/remove.png" class="remove-button unclickable" alt="Remove item"></td>
				</tr>
				<tr>
					<td>Sushi bowl extra large for three people</td>
					<td>5,90$</td>
					<td><img src="image/remove.png" class="remove-button unclickable" alt="Remove item"></td>
				</tr>
			</table>
			<p>Total: <span>12,30$</span></p>
			<button>☞</button>
		</div>
		<div id="cart-form">
			<h1>Enter your contact details:</h1>
			<form>
				<label for="name">Name:</label>
				<input type="text" name="name" id="name">
				<label for="phone">Phone:</label>
				<input type="text" name="phone" id="phone">
				<label for="address">Address:</label>
				<input type="text" name="address" id="address">
				<label for="additional">Additional Instructions:</label>
				<textarea id="additional" name="additional" rows="3"></textarea>
				<button>✓</button>
			</form>
		</div>
		<div id="cart-aftermath">
			<h1>Thank you for your order. Our staff will contact you soon.</h1>
		</div>
	</div>