
	<header class="menu-back">

		<img src="image/logo.png" id="logo"/>
		<img src="image/delivery.png" id="delivery"/>
		<img src="image/mobile-icon.png" id="mobile-dugme">
		<img src="image/mobile-icon2.png" id="mobile-dugme2">


		<div id="levo_menu">
			<ul class="levi_bar">

				<li class="mobile-hidden" id="home"><a href="./">Home</a></li>

				<li class="product-category-link" ng-repeat="category in categories">
					<a ng-href="{{category.link}}">{{category.title}}</a>
				</li>

				<li class="product-category-link mobile-hidden"><a href="./contact">Kontakt</a></li>
				<li class="product-category-link mobile-hidden"><a href="./impressum">Impressum</a></li>                
   
			</ul>   
		</div>
	</header>


