		<div id="svi-proizvodi">
			<ul class="proizvodi-line">
				<li id="risotto" class="product-category-link" data-category="risotto">
					<img src="image/risotto.jpg" class="naslov animacija">
					<img src="image/risotto-main.png" width="141" class="slika">
				</li>
				<li id="pan-cakes" class="product-category-link" data-category="pan_cakes">
					<img src="image/pan-cakes.jpg" class="naslov animacija">
					<img src="image/pan-cakes-main.png" width="141" class="slika">
				</li>
				<li id="musli" class="product-category-link" data-category="musli">
					<img src="image/musli.jpg" class="naslov animacija">
					<img src="image/musli-main.png" width="141" class="slika">
				</li>
				<li id="salat" class="product-category-link" data-category="salat">
					<img src="image/salat.jpg" class="naslov animacija">
					<img src="image/salat.png" width="141" class="slika">
				</li>
				<li id="kuchen" class="product-category-link" data-category="kuchen">
					<img src="image/kuchen.jpg" class="naslov animacija">
					<img src="image/kuchen-main.png" width="500" class="slika">
				</li>
				<li id="drinks" class="product-category-link" data-category="drinks">
					<img src="image/drinks.jpg" class="naslov animacija">
					<img src="image/drinks-main.png" width="80" class="slika">
				</li>              
			</ul>   
		</div> 